.app-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: 100vh;
  overflow: hidden;
}

.left-section {
}

.right-section {
  padding-left: 10px;
  display: flex;
  align-items: flex-start;
  position: relative;
}